:root {
    --fuenteHeading:'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans' , sans-serif;

    --primario: #784d3c;
    --blanco: #ffff;
    --gris: #e1e1e1;
    --negro: #000;

}
html {
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px*/
}
*, *:before , *:after {
    box-sizing: inherit;
}
body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/** Globales**/
.contenedor{
   width: min(90%, 120rem); /*primero el porcentaje que queremos acoplar el contenido(PARA DARLE MARGEN Y QUE NO QUEDEN PEGADO AL BORDE)
                              segundo el tamano que tendra el contenedor*/
   margin: 0 auto;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1 {
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}

/** Utilidades**/
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}

/** Header**/
.webp .header{ /** esto mas el script de modernizr hace que carguen imagenes con extencion webp en CSS**/
    background-image: url(/img/banner.webp);
}
.no-webp .header{
    background-image: url(/img/banner.jpg);

}
.header{
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; /* primer center para el centrado vertical y segundo center p[ara centrado horizontal*/
    
}
.header__texto{
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}
@media (min-width: 768px) {
    .header__texto{
        margin-top: 15rem;
    }
}
@media (min-width: 768px) {
    .barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
}
.barra{
    padding-top: 4rem;
}
.logo{
    color: var(--blanco);

}
.logo__nombre{
    font-weight: 400;
}
.logo__bold{
    font-weight: 700;
}


.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}
@media (min-width: 768px) {
    .navegacion{
        display: flex;
        gap: 2rem;
    }    
}
.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}
@media (min-width: 768px) {   
    .contenido-principal{
        display: grid;
        grid-template-columns: 2fr 1fr; /* el primer valor seria como una fraccion y la de abajo la parte de abajo de una fraccion */
        gap: 4rem;
    }  
}

.entrada{
    border-bottom: 1px solid var(--gris); /* ancho del borde, tipo,  color*/
    margin-bottom: 2rem;
}
.entrada:last-of-type{
    border: none;
    margin-bottom: 0;
}
.boton{
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;

}
@media (min-width: 768px) {
    .boton{
        display: inline-block;
    }
}
.boton:hover{
    cursor: pointer;
    
}
.boton--primario{
    background-color: var(--negro);
}
.boton--secundario{
    background-color: var(--primario);
}

.cursos{
    list-style: none;
}
.widget-curso{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}
.widget-curso:last-of-type{
    border-bottom: none;
    margin-bottom: 0;
}
.widget-curso__label{
    font-family: var(--fuenteHeading);
    font-weight: bold;
}
.widget-curso__info{
    font-weight: normal;
}
.widget-curso__label,
.widget-curso__info{
    font-size: 2rem;
}

.footer{
    background-color: var(--negro);
    padding-bottom: 3rem;
    margin-top: 4rem;
}

/*Sobre Nosotros*/
@media (min-width: 768px) {
    .sobre-nosotros{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }   
}

/**Cursos**/
.curso{
    padding: 3rem 0;
    border-bottom: 1px solid var(--gris);
}
.curso:last-of-type{
    border: none;
}
@media (min-width: 768px) {
    .curso{
        display: grid;
        grid-template-columns:1fr 2fr;
        column-gap: 2rem;
    }
}
.curso__label{
    font-family: var(--fuenteHeading);
    font-weight: bold;
}
.curso__info{
    font-weight: normal;
}
.curso__label,
.curso__info{
    font-size: 2rem;
}

/**Contacto**/

.contacto-bg{
    background-image: url(/img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;

}
.formulario{
    background-color: var(--blanco);
    margin: -5rem auto 0 auto; /**encimar formulario encima de la imagen principal**/
    width: 95%;
    padding: 5rem;

}
.campo{
    display: flex;
    margin-bottom: 2rem;
}
.campo__label{
    flex: 0 0 9rem; /**factor de crecimiento, valor base de 9rem va hacer que no crezca y va dejar fijo su tamano**/
    text-align: right;
    padding-right: 2rem;
    font-weight: bold;
    
}
.campo__field{
    flex: 1;
  

}
.campo__field--textarea{
    height: 20rem;
}
